@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@200;300;400;500;600;700&family=Righteous&display=swap');

// Biến màu sắc và font
$font-family-1: "Mitr", sans-serif;
$font-family-2: "Righteous", sans-serif;
$brow: #4b1204;
$yellow-r-color: #ffa10a;
$text-r-color: #121212;
$container-color: #efe8e0;
$red-r: #a72e1b;
$bg-r-color: #fff;
$text-alter-color: #94908e;
$box-shadow-color: rgba(0, 0, 0, 0.3);
$highlight-color: rgba(255, 215, 0, 0.5);
