@import './styles.scss';

.newsletter{
  max-width: 1000px;
  width: 90%;
  margin: auto;
}
.newsletter h2{
  font-size: 2.5rem;
  font-weight: 400;
  font-family: $font-family-2;
  text-align: center;
}
.newsletter p{
  text-align: center;
}
.newsletter form{
  position: relative;
  max-width: 1000px;
  margin: 1.8rem auto auto auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid $text-r-color;
  padding: 7px;
  border-radius: 0.5rem;
}
.newsletter form textarea{
  border: none;
  outline: none;
  resize: none; /* Có thể đặt thành "vertical" để chỉ cho phép cuộn theo chiều dọc */
  height: 30px; /* Chiều cao cố định */
  padding: 0 20px;
  scrollbar-width: none;

}
.newsletter form .email{
  width: 100%;
}
.newsletter form textarea::placeholder{
  color: $text-r-color;
  font-size: 0.94rem;
  font-weight: 400;
}
.newsletter form textarea:focus{
  height: 100px;
}
.newsletter form .s-btn{
  background-color: $yellow-r-color;
  padding: 14px 24px;
  border-radius: 8px;
  font-size: 1rem;
  margin: auto;
  font-weight: 400;
  letter-spacing: 1px;
  cursor: pointer;
}
.newsletter form .s-btn:hover{
  background-color: $text-r-color;
  color: $bg-r-color;
  transition: 0.4s all ease-in-out;
}
.newsletter form label{
  position: absolute;
  text-transform: capitalize;
  font-size: 0.94rem;
  font-weight: 400;
  top: 50%;
  transform: translateY(-50%);
  left: 27px;
  user-select: none;
  pointer-events: none;
}
.newsletter form textarea:not(:placeholder-shown) + label,
.newsletter form textarea:focus + label{
  top: -2px;
  left: 23px;
  padding: 0 5px;
  background-color: #fff;
  transition:  0.3s ease-in-out;
}
.comment{
  background-color: #fff;
}
.exp{
  color: red;
  text-align: center;
}
.dashboard{
  padding: 30px;
}
.center{
  display: flex;
  justify-content: space-around;
}