@import "../../styles/common.scss";

.header-container {
    display: flex;
    justify-content: space-between;
    background-color: #a72e1b;
    color: $common-text-color;
    height: 40px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    z-index: 1016;
    .header-tabs-container {
        display: flex;
        justify-content: space-between;
    
        /* Ẩn menu khi màn hình nhỏ */
        @media (max-width: 1200px) {
          position: absolute;
          right: -100%; /* Đưa menu ra ngoài màn hình */
          top: 0;
          transition: right 0.3s ease-in-out;
          background-color:  #a72e1b;
          width: 214px; /* Chiều rộng của menu */
          height: 100vh; /* Full chiều cao */
        }
    
        &.menu-open {
          right: 0; /* Hiển thị menu khi mở */
        }
      }
    
      .menu-toggle-icon {
        display: none; /* Ẩn icon mặc định */
        
        @media (max-width: 1200px) {
            display: block;
            position: absolute;
            top: 0px;
            right: 20px;
            font-size: 29px;
            cursor: pointer;
        }
      }
    
      .lang {
        margin-right: 20px;
      }
    
      .btn-logout {
        cursor: pointer;
      }
    .btn-logout {
        color: $common-text-color;
        line-height: 40px;
        height: 40px;
        padding: 0 10px;
        &:hover {
            background-color: darken($colormain, 5);
        }
        i {
            font-size: $base-size + 1px;
        }
    }
    @media (max-width: 1200px) {
        .lang{
            left: 50px;
        }
    }
    .lang{
        position: absolute;
        display: flex;
        align-items: center;
        gap: 10px;
        right: 50px;
        top: 50%;
        transform: translateY(-50%);
        span{
            text-align: center;
            font-weight: 300;
        }
        .changeLangues {
            cursor: pointer;
            line-height: 40px;
            height: 40px;
            border-radius: 7px;
            width: 35px;
            text-align: center;
            &.action {
                color: rgb(6, 3, 3); 
            }
            &:hover{
                color: #94908e;
                transition: cubic-bezier(0.075, 0.82, 0.165, 1);
            }  
        }
    }
}

@media (max-width: 1200px) {
    .navigator-menu {
        display: flex
        ;
                flex-direction: column;
                grid-gap: 10px;
                gap: 10px;
                margin: 40px 0 0 0;
                padding: 0;
                list-style-type: none;
    }
}